body {
  background: rgb(166, 166, 250);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: normal;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background: lightblue;
}

.info {
  background: lightgreen;
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
}

/* .foto {
    margin: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  } */

.hobbies {
  background: lightgreen;
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
}

.achievements {
  background: lightgreen;
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
}

.workexp {
  background: lightgreen;
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
}

.socialmedia {
  background: lightgreen;
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
}

.feedback {
  background: lightgreen;
  border-radius: 25px;
  padding: 20px;
  margin-top: 10px;
}

.btn {
  background: rgb(5, 0, 80);
  padding: 15px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
}

.btn:active {
  color: #577eaa;
  background: #08b1e8;
}

.btn:hover {
  opacity: 0.8;
}

.table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: 5px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 15px;
  background-color: #08b1e8;
  color: #212e3d;
  border: 8px solid black;
  border-radius: 20px;
}

table#table2 th,
table#table2 td:first-child {
  padding: 10px 20px;
  font-size: x-large;
  color: azure;
  background-color: #577eaa;
}

td {
  padding: 10px;
  background-color: #577eaa;
}

.icon {
  max-width: 150px;
  max-height: 120px;
}
